@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>显示银行卡余额</title>
    <script src="/Content/Script/include_all.js" type="text/javascript"></script>
    <script src="/Content/Script/ExtJs/ux/DicCombo.js" type="text/javascript"></script>
    
    <script src="/Content/Function/LifeMan/BankCardCalc/Layout.js" type="text/javascript"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
