<!DOCTYPE html>
<html>
<head>
    <title>文章详情</title>    
    <script src="/Content/Script/ExtJs/ext-all.js" type="text/javascript"></script>
    <script src="/Content/Script/DuanjtJs.js" type="text/javascript"></script>

    <script type="text/javascript">
        window.onload = function () {
            //给数据赋值
            var params = Duanjt.Url.GetPara(location.href);
            id = params["id"];
            if (id == "")
                return; //表示新增
            Ext.Ajax.request({
                url: '/Article/Select',
                params: { id: id },
                success: function (response) {
                    var data = Ext.JSON.decode(response.responseText);
                    document.getElementById("title").innerHTML = data.Title;
                    document.getElementById("content").innerHTML = data.Content;                    
                }
            });

            parent.myMask.hide();
        }
    </script>
</head>
<body>
    <div id="title"></div>
    <div id="content"></div>
</body>
</html>
