@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>系统配置管理</title>
    <script src="/Content/Script/include_all.js" type="text/javascript"></script>

    <script src="/Content/Function/LifeMan/SysConfig/SysConfigGrid.js" type="text/javascript"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
