*{margin:0;padding:0}
ol,ul{padding-left:30px;}
body{padding: 0; margin: 0; font-size: 14px; font-family:"Courier New", 微软雅黑, Consolas, Arial, 宋体; line-height:25px;}
/*按钮样式*/
.btn{border: 1px solid #BCC4D0; color: #333399; font-size: 12px; height: 23px; line-height: 23px;}
/*文本框样式*/
.txt{height: 20px; line-height: 20px; width: 140px; border: 1px solid #C2C3BD;}
/*超链接样式*/
a{color: #526673; text-decoration: none;}
a:hover{text-decoration: underline;}
/*用虚线把内容分隔开，同时分隔内容分为左右部分的情况*/
.sp, .sp li{padding: 0; margin: 0;}
.sp{border-bottom:1px dashed gray;}
.sp li{border-top: 1px dashed gray; line-height: 30px; height: 30px; display: block; clear: both; font-size:13px;}
.sp li .spliLeft{width: 60%; float: left;}
.sp li .spliRight{width: 40%; float: right; text-align:right;}
/*分页控件的样式*/
.page_info{text-align: left; white-space: nowrap; height: 22px; float: left; margin:1px; background-color:White;}
.page_info strong{color: Red;}