body {
}

/*保存*/
.i_save
{
    background-image:url("/Content/Images/icon16/Save.gif")
}
/*新增*/
.i_add
{
    background-image:url("/Content/Images/icon16/add.png")
}

/*修改*/
.i_edit
{
    background-image:url("/Content/Images/icon16/edit.png")
}

/*删除*/
.i_delete
{
    background-image:url("/Content/Images/icon16/delete.png")
}

/*下一步*/
.i_next
{
    background-image:url("/Content/Images/icon16/nextstart.gif")
}

/*打开*/
.i_open
{
    background-image:url("/Content/Images/icon16/open.gif")
}

/*关闭*/
.i_close
{
    background-image:url("/Content/Images/icon16/state_new.gif")
}

/*查询*/
.i_search
{
    background-image:url("/Content/Images/icon16/searchDoc.gif")
}

/*导入箭头*/
.i_undo
{
    background-image:url("/Content/Images/icon16/undo.png"); background-repeat:no-repeat
}

/*导出箭头*/
.i_redo
{
    background-image:url("/Content/Images/icon16/redo.png"); background-repeat:no-repeat
}

/*刷新*/
.i_refresh
{
    background-image:url("/Content/Images/icon16/refresh.png"); background-repeat:no-repeat
}
/*一个琐*/
.i_home
{
    background-image:url("/Content/Images/icon16/stock_lock_ok.png"); background-repeat:no-repeat
}
/*红色五角星*/
.i_star_red
{
    background-image:url("/Content/Images/icon16/star_red.png"); background-repeat:no-repeat
}

/*白色五角星*/
.i_star_white
{
    background-image:url("/Content/Images/icon16/star_white.png"); background-repeat:no-repeat
}


.x-hidden
{
    display:none;
}
.x-visible
{
    display:block;
}